<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Usage Tracker</title>
    <script src="/static/scripts.js"></script>
    <script src="/static/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 style="color:black">Something went wrong...</h1>
    <p> There was an error when executing your request. Please refresh page and try again </p>
    <p> If the problem persists, please contact roryhandley@microsoft.com </p>
</body>
</html>